<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arbutus" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet" />
    <script src="./js/methods.js"></script>
</head>

<body>

    <div class="container">
        <h1 class="caption-login caption-login-main">Thay đổi mật khẩu</h1>
        <form action="/main.html" class="form-login">
            <hr>
            <div class="form-group">
                <label class="caption-login" for="email">Mật khẩu hiện tại</label>
                <input type="email" class="form-control chonhap" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label class="caption-login" for="email">Mật khẩu mới:</label>
                <input type="email" class="form-control chonhap" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label class="caption-login" for="email">Xác nhận lại mật khẩu mới:</label>
                <input type="email" class="form-control chonhap" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-dangki">Xác nhận</button>
            </div>
            <br>
            <br>
            <hr>
            <div class="alert alert-success">
                <strong>Success!</strong> This alert box could indicate a successful or positive action.
            </div>
        </form>

    </div>

</body>

</html>