<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arbutus" rel="stylesheet">
</head>
<link href="/css/style.css" rel="stylesheet" />

<body>

    <div class="container">
        <h1 class="caption-login caption-login-main">LOG IN</h1>
        <form action="" class="form-login" method="POST" autocomplete="on">
            <div class="form-group">
                <label class="caption-login" for="email">Email:</label>
                <input type="email" class="form-control chonhap" id="email" value="<%= email %>" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label class="caption-login" for="pwd">Password:</label>
                <input type="password" class="form-control chonhap" id="pwd" placeholder="Enter password" name="password">
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-dangnhap">Đăng nhập</button>
            </div>
            <div class="form-group">
                <a href="../auth/google" class="btn btn-dangnhapwithgoogle"> Đăng nhập với Google</a>
            </div>
            <div class="signin">
                <p>You don't have an account? <a href="/user/register">Sign up</a>.</p>
            </div>
            <% if(locals.error && error.length > 0){ %>
                <% if (+code != 0){ %>
                    <div class="alert alert-danger">
                        <strong>Error: <%= code %></strong>
                <% }else{ %>
                    <div class="alert alert-success"> 
                        <strong>Success: <%= code %></strong>  
                <% } %>
                    <%= error %>
                </div>
            <% } %>
        </form>
    </div>

</body>

</html>