<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css"> 
	
    
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#">Thông Báo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Trang chủ</a></li>
          <li><a href="#">Mạng xã hội</a></li>
          <li><a href="#">Đăng xuất</a></li> 
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class = "row">
        <div class = "col-lg-3"> 
          <div class="profile-sidebar">                          
            <div class="profile-userpic">   
              <img src="images/avatar.png" class="img-responsive" alt="Thông tin cá nhân">               
            </div>                                            
            <div class="profile-usertitle">                   
              <b class="profile-name" >GV: Nguyễn Văn A</b>               
            <div class="profile-msgv">MSGV: GV25436</div>              
            </div>                                                
          <div class="profile-userbuttons">                               
     </div>                                            
     <div class="profile-usermenu">                    
      <ul class="nav">             
       <li class="active">
			   <a href="#"> <i class="glyphicon glyphicon-info-sign"></i>   Cập nhật thông tin cá nhân </a>
                                               
       <li>
          <div class="btn-group dropright">
            <a type="button" class="btn btn-secondary dropdown-toggle glyphicon-envelope" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Xem thông báo theo >
            </a>
            <div class="dropdown-menu">
              <!-- Dropdown menu links -->
              <div class="dropdown-item"><a href="#"> + Phòng ban</a></div>
              <div class="dropdown-item"><a href="#"> + Chủ đề</a></div>
              <div class="dropdown-item"><a href="#"> + Tất cả thông báo</a></div>
              <div class="dropdown-divider"></div>
            </div>
          </div>                      
       </li>  
       <li><a href="#"><i class="glyphicon glyphicon-heart"></i>   Lịch sử đăng (xóa/ sửa tbao)</a>                     
       </li>                                          
       <li> <a href="#">  <i class="glyphicon glyphicon-envelope"></i>   Tin nhắn </a>                
       </li>                   
      </ul>                
     </div>                            
    </div> 
        </div>
        <div class = "col-lg-9 col-md-9 first-item">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="text-center">ĐĂNG THÔNG BÁO</h2>
			</div>
			<div class="panel-body">
				<div class="form-group">
				  <label>Tiêu đề:</label>
				  <input required="true" type="text" class="form-control" id="usr">
				</div>
				<div class="form-group">
				  <label>Nội dung:</label>
				  <input required="true" type="email" class="form-control" id="email">
				</div>
				<div class="form-group">
				  <label>Ngày đăng:</label>
				  <input type="date" class="form-control" id="date-upload">
				</div>
				
				<div class="form-group">
				  <label>File đính kèm:</label>
				  <label for="formFileLg" class="form-label"></label>
				  <input class="form-control form-control-lg" id="formFileLg" type="file" />
				</div>

				<div class="form-group">
				  <label>Loại phòng ban:</label>
					  <form>
						<div class="checkbox">
						  <label><input type="checkbox" value="">Khoa CNTT</label>
						</div>
						<div class="checkbox">
						  <label><input type="checkbox" value="">Phòng tài chính</label>
						</div>
						<div class="checkbox">
						  <label><input type="checkbox" value="">Khoa Tài chính ngân hàng</label>
						</div>
					  </form>
				</div>
				<div class="form-group">
				  <label>Loại chủ đề:</label>
					  <form>
						<div class="checkbox">
						  <label><input type="checkbox" value="">Học phí</label>
						</div>
						<div class="checkbox">
						  <label><input type="checkbox" value="">Học bổng</label>
						</div>
						<div class="checkbox">
						  <label><input type="checkbox" value="">Bảo hiểm</label>
						</div>
					  </form>
				</div>
				<button class="btn btn-success btn-block">Đăng</button>
			</div>
		</div>
                
        </div>
    </div>
    </div>
    </div>
</div>
<p class="jumbotron">Đại học Tôn Đức Thắng</p>
</body>
</html> 