<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trang ca nhan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arbutus" rel="stylesheet">
</head>
<link href="../public/css/style.css" rel="stylesheet" />

<body>

    <div class="container">
        <form action=" " class="form-login " method="POST " autocomplete="on ">
            <img src="../public/images/linhkook.jpg" alt="Avatar" class="avatar">
            <hr>
            <div class="profiledata ">
                <h5 class="profiledata_1 label_editprofile_phongkhoa">Tên </h5>
                <h5 class="profiledata_1 "> Lê Quang Linh</h5>
            </div>
            <br><br>
            <div class="profiledata ">
                <h5 class="profiledata_1 label_editprofile_phongkhoa">Email </h5>
                <h5 class="profiledata_1 "> 51800423@student.tdtu.edu.vn</h5>
            </div>
            <br><br>
            <div class="profiledata ">
                <h5 class="profiledata_1 label_editprofile_phongkhoa">Lớp </h5>
                <h5 class="profiledata_1 "> 18050201</h5>
            </div>
            <br><br>
            <div class="profiledata ">
                <h5 class="profiledata_1 label_editprofile_phongkhoa">Khoa </h5>
                <h5 class="profiledata_1 "> Công nghệ thông tin</h5>
            </div>
            <br><br>
            <hr>
            <div class="form-group">
                <button type="submit" class="btn btn-profile btn-secondary btn-dangnhap">Đăng xuất</button>
                <button type="submit" class="btn btn-profile btn-info btn-dangnhap">Chỉnh sửa thông tin</button>
            </div>
            <br><br>

        </form>

    </div>

</body>

</html>