.group {
    width: -webkit-fill-available;
    margin-top: 10px;
}

.container {
    border: 2px solid #EFF3F7;
    background-color: #EFF3F7;
}

.alert {
    margin-top: 10%;
    margin: 2%;
}

.caption-login-main {
    text-align: center;
}

.signin {
    text-align: center;
    margin: 0%;
}

.btn-dangnhap {
    float: right;
}

.btn-dangki {
    float: right;
    width: 100%;
}

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #333b45;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5357;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.btn-share-post {
    width: 60%;
    float: right;
    padding: 0%;
    margin: 0%;
    margin-left: 5%;
    height: 30px;
}

.btn-upload-images-main {
    position: relative;
    overflow: hidden;
    float: right;
}

.input-upload-images-main {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.btns-post {
    height: 30%;
}

.card-subtitle-date {
    float: right;
    font-size: 12px;
}

.card-title-thongbao {
    text-align: center;
}

.link-xem-toanbo-thongbao {
    font-size: 12px;
    float: right;
}

.card-thongbao-chinh {
    padding: 3%;
    padding-top: 6%;
    margin: 0%;
}

.card-body {
    padding-bottom: 2%;
}

.btn-group-2 {
    float: left;
}

.carousel-inner .item img {
    width: 800px;
    height: 300px;
    border-radius: 4px;
}

.cell {
    margin-top: 20px;
    padding-bottom: 15px;
    border-radius: 4px;
}

.cell:hover {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cell .user-info .title {
    margin-top: 8px;
    font-weight: bold;
    font-size: 18px;
    color: blueviolet;
}

.cell .user-info .position {
    font-size: 14px;
    text-align: justify;
}

.cell img {
    border-radius: 2px 2px 0 0;
    width: 250px;
    height: 250px;
}

.first-item .list-group {
    color: blueviolet;
}

.first-item .list-group .list-group-item:hover {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    ;
}

.jumbotron {
    background-color: #24221e;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: auto;
    margin-top: 15px;
}

.profiledata {
    clear: both;
}

.profiledata_1 {
    float: left;
    padding-left: 3%;
}

.btn-profile {
    margin-left: 3%;
}

.avatar {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-editprofile {
    width: 100%;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btns {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.input_editprofile_phongkhoa {
    margin-left: 5%;
    width: 70%;
    border: none;
    /* <-- This thing here */
    border: solid 1px #ccc;
    border-radius: 10px;
}

.label_editprofile_phongkhoa {
    width: 20%;
    color: #4f5357;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-btn-wrapper {
    width: 100%;
}

.upload-image-student {
    text-align: center;
}

.thaydoimatkhau_link {
    text-align: center;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
    .thongbao-manhinhchinh {
        display: block;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
    .gedf-main {
        margin: 0%;
        margin-left: 25%;
        margin-top: 1%;
    }
    .material-icons-upload-images-main {
        font-size: 36px;
    }
    .thongbao-manhinhchinh {
        overflow: auto;
        position: fixed;
        top: 0px;
        width: 300px;
        height: 100%;
        margin-left: 75%;
        margin-top: 1%;
    }
    .container {
        border-radius: 5%;
        margin-top: 2%;
        width: 35%;
        height: 100%;
    }
}

body {
    margin: 0px;
    padding: 0px;
}